<p-card header="Order History">

  <p-table [value]="orders">

    <ng-template #header>
      <tr>
        <th>Symbol</th>
        <th>Side</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Status</th>
        <th>Motive</th>
        <th>Date</th>
      </tr>
    </ng-template>

    <ng-template #body let-order>
      <tr>
        <td>{{ order.symbol }}</td>
        <td>{{ order.side }}</td>
        <td>{{ order.quantity }}</td>
        <td>{{ order.price != null
          ? (order.price | currency:'USD':'symbol':'1.2-2':'en-US')
          : '-'
          }}</td>
        <td>{{ order.status }}</td>
        <td>{{ order.rejectionReason || '-' }}</td>
        <td>{{ order.createdAt | date:'dd/MM/yyyy HH:mm' }}</td>
      </tr>
    </ng-template>

  </p-table>

</p-card>
