<p-card header="Análise de dados">

  @if (analytics) {

  <div class="analytics-content">

    <div class="symbol">
      {{ analytics.symbol }}
    </div>

    <div class="value" [class.positive]="analytics.value > 0" [class.negative]="analytics.value < 0"
      [class.neutral]="analytics.value === 0">
      {{ analytics.value | number:'1.2-2' }}%
    </div>

    <div class="signal">
      20 Days Volatility
    </div>

    <div class="signal-value">
      {{ analytics.value | number:'1.2-2' }}%
    </div>

  </div>

  } @else {

  <p>Aguardando dados de mercado...</p>

  }

</p-card>
