<p-card header="Dados de mercado">

  <div class="market-search">
    <input type="text" pInputText [(ngModel)]="searchSymbol" placeholder="Buscar ticker"
      (keyup.enter)="searchMarketData()" />

    <p-button label="Buscar" icon="pi pi-search" (onClick)="searchMarketData()" />
  </div>

  @if (marketData) {

  <div class="market-content">

    <div class="symbol">
      {{ marketData.symbol }}
    </div>

    <div class="price">$ {{ marketData.price }}</div>

    <div class="variation" [class.positive]="marketData.percentageChange >= 0"
      [class.negative]="marketData.percentageChange < 0">
      {{ marketData.percentageChange | number:'1.2-2' }}%
    </div>

    <div class="timestamp">
      Última atualização:
      {{ marketData.timestamp | date:'dd/MM/yyyy HH:mm' }} </div>

  </div>

  }

</p-card>
